<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#2AABEE">
    <meta name="mobile-web-app-capable" content="yes">
    <title>TeleWeb Messenger</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/messenger.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{% static 'js/messenger.js' %}"></script>
</body>
</html>